$mainColor: #DF003D;
$bgColor: #030D16;

.loadCard {
  position: relative;
  background-color: lighten($bgColor, 8%); // слегка светлее фона
  overflow: hidden;
  border-radius: 20px;
  &::before {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    background: linear-gradient(
      135deg,
      transparent 40%,
      rgba($mainColor, 0.25) 50%, // мягкий цвет кнопок
      transparent 60%
    );
    animation: diagonalShimmer 1.4s infinite linear;
  }
}

@keyframes diagonalShimmer {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(150%) translateY(150%);
  }
}

.text {
  margin-top: 0.5rem;
  width: 70%;
  height: 1rem;
  border-radius: 2px;
  background-color: lighten($bgColor, 8%);
  color: transparent;
  user-select: none;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    background: linear-gradient(
      135deg,
      transparent 40%,
      rgba($mainColor, 0.25) 50%,
      transparent 60%
    );
    animation: diagonalShimmer 1.4s infinite linear;
  }
}
