@use '_mixins.scss' as *;
.carouselContainer{
    @include container;
  
    display: flex;
    align-items: center;
    gap: 0.7rem;
    
    
}
.carousel{                  
    position: relative;
    flex: 1;
   background-color: red;
    
    touch-action: none;
    
    
    .carouselLine{
        position: relative;
        display: flex;
        gap: 2rem;
        .cardWrapper{
            
            flex: 0 0 100%;

        }
        
    }
}