.container{
    overflow: hidden;
    .image{
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        
    }
    .infoContainer{
        .who{
            opacity: 0.5;
            font-size: 13.5px;
        }
        .namePerson{
            font-size: 15px;
            
            
        }
    }
}